# NYC AirBNB EDA Jupyter Notebook

## Import library

In [1]:
import wandb
import pandas as pd
import pandas_profiling

## Download lastest sample data from Wandb and Read it with pandas

In [2]:
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
local_path = wandb.use_artifact('sample.csv:latest').file()
df = pd.read_csv(local_path, index_col="id")

wandb: Currently logged in as: uit (anhndd3). Use `wandb login --relogin` to force relogin

In [3]:
df.sample(10)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
8425148,*Amazing Lower East Side Apartment*,21940002,Zlatko,Manhattan,Lower East Side,40.71978,-73.98424,Entire home/apt,205,2,6,2017-01-01,0.13,1,0
14320998,1 Bedroom,84810879,Linda,Queens,Rosedale,40.66155,-73.73064,Private room,88,1,0,NaN,NaN,3,364
9936109,"Comfy apartment, close to train, beautiful str...",970003,Cyntia,Manhattan,Morningside Heights,40.81218,-73.96112,Entire home/apt,200,3,1,2016-06-13,0.03,1,0
31663848,Gorgeous Sunny Luxury Williamsburg Condo,237406328,Daniel,Brooklyn,Williamsburg,40.71447,-73.95108,Entire home/apt,140,2,30,2019-07-07,5.56,1,135
35972860,Brooklyn family apartment,16056444,Charlotte,Brooklyn,Greenpoint,40.72229,-73.94846,Entire home/apt,128,30,0,NaN,NaN,1,312
30069635,"Chic, spacious, private home away from home!",101367917,Colleen,Queens,Astoria,40.76589,-73.92259,Private room,150,2,4,2019-04-28,0.55,1,0
19948618,Amazing studio step away from Time Square/54B,48146336,Irina,Manhattan,Hell's Kitchen,40.76309,-73.99214,Entire home/apt,130,30,7,2019-06-29,0.34,20,311
5352301,Housing for SGU/AUA/SABA/ROSS students,27741331,Lyn,Brooklyn,East Flatbush,40.65777,-73.92263,Private room,27,30,9,2019-03-23,0.18,2,345
6462454,"Spacious, Bright, Brooklyn Beauty",3210626,Matthew,Brooklyn,Park Slope,40.67610,-73.97509,Entire home/apt,200,1,0,NaN,NaN,1,0
27006,Comfortable UWS 2-BD Family-Friendly Brownstone,115560,Stacy,Manhattan,Upper West Side,40.77823,-73.97637,Entire home/apt,235,6,27,2019-04-27,0.27,1,199

## Create profile

In [4]:
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/29 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

## Remove outliers and Cover a 'last_review' attribute into the datatime type.

In [5]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

Check infomation data such as data type, the number of null value.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19001 entries, 9138664 to 33631782
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            18994 non-null  object
 1   host_id                         19001 non-null  int64
 2   host_name                       18993 non-null  object
 3   neighbourhood_group             19001 non-null  object
 4   neighbourhood                   19001 non-null  object
 5   latitude                        19001 non-null  float64
 6   longitude                       19001 non-null  float64
 7   room_type                       19001 non-null  object
 8   price                           19001 non-null  int64
 9   minimum_nights                  19001 non-null  int64
 10  number_of_reviews               19001 non-null  int64
 11  last_review                     15243 non-null  datetime64[ns]
 12  reviews_per_month               15243 non-null  float64
 13  calculated_host_listings_count  19001 non-null  int64
 14  availability_365                19001 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(5)
memory usage: 2.3+ MB

Save the jupyter notebook on W&B

In [7]:
run.finish()

VBox(children=(Label(value='0.064 MB of 0.064 MB uploaded (0.030 MB deduped)\r'), FloatProgress(value=1.0, max…